body {
    background-color: rgb(187, 0, 0);
}
h1 {
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
p {
    color: aliceblue;
}